h1, h2, h3, span {
  font-family: 'helvetica';
  font-weight: 100;
}

.synth {
  display: inline-block;
  padding: 5px;
  border: solid gray 1px;
  border-radius: 5px;
}

.synth-module {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  border: solid gray 1px;
  border-radius: 5px;
  padding: 5px;
}

h2 {
  margin-top: 0;
}
